:root {
    --cornflower: #E7E9FC;
    --iris: #4D5AE5;
    --navy-blue: #2E2F42;
    --slate: #434455; 
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --ocean: #404bbf;
}

body {
    font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
    padding-left: 0;
}

.dark-bg {
    background-color: var(--navy);
    }

 .logo-web {
    color: var(--iris);
 }   

 .link {
    text-decoration: none;
 }
.logo {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800px;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo span{
    color: var(--iris);
}

nav .logo {
    color: var(--navy);
}

header ul.list li a {
    text-decoration: none;
    color: var(--navy);
}

.nav-link:hover {
    color: var(--iris);
}



.hero h1{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero .btn {
color: var(--white);
background-color: var(--iris);
border: none;
border-radius: 4px;
}

.hero .btn:hover {
    color: var(--slate);
}

.footer {
    color: var(--white);
}

.footer.logo {
    color: var(--cloud);
}

body {
font-family: "Roboto", sans-serif;
}

.list {
    list-style: none;
    padding-left: 0;
}


.logo {
    text-transform: uppercase;
    font-family: "Raleway";
    font-style: 800;
}
.logo-web {
color: var(--iris);
}

a {
    text-decoration: none;
}



